{% extends "base.html" %}
{% block content %}

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card p-3 mb-5 bg-body">
                <img src="/static/images/abs_example.jpg" class="card-img-top review-image" alt="ABS example image">
                <div class="card-body">
                    <h3 class="card-title text-center">What is ABS filament?</h3> 
                    <p class="card-text"> 
                        ABS (Acrylonitrile Butadiene Styrene) has a long history in the 3D printing world. This 
                        material was one of the first plastics to be used with industrial 3D printers. Many years 
                        later, ABS is still a very popular material thanks to its low cost and good mechanical 
                        properties. ABS is known for its toughness and impact resistance, allowing you to print 
                        durable parts that will hold up to extra usage and wear. LEGO building blocks are made 
                        from this material for that same reason! ABS also has a higher glass transition temperature, 
                        which means the material can withstand much higher temperatures before it begins to deform. 
                        This makes ABS a great choice for outdoor or high temperature applications. When printing 
                        with ABS, be sure to use an open space with good ventilation, as the material tends to have 
                        a slight odor. ABS also tends to contract quite a bit as it cools, so controlling the 
                        temperature of your build volume and the part inside can have major benefits.                           
                    </p>
                </div>                
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card mt-2 col-10 col-md-8 text-white bg-primary shadow p-3 mb-5 rounded">            
            <div class="card-body text-center">
               <h3>
                   Reviews of ABS Filaments:
               </h3>
            </div>
        </div>
    </div>    

    <div class="row row-cols-1 row-cols-md-2 g-4">        
        {% for review in reviews %} 
            {% if review.material_name == "ABS" %}
                <div class="col">
                    <div class="card review-card shadow p-3 mb-5 bg-body rounded">
                        <img src="{{ review.image_url }}" class="card-img-top review-image" alt="Review image">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title text-center">{{ review.filament_name }} from {{ review.brand }}</h4> 
                            <h6 class="text-center mb-2">Review by: {{ review.author }}</h6> 
                            <div class="row text-center mb-1 border border-primary">
                                <div class="col-6 border border-primary">
                                    <h5><i class="fas fa-palette rainbow-gradient"></i> Colour:</h5>                            
                                    <h6>{{ review.colour }}</h6>
                                </div>
                                <div class="col-6 border border-primary">
                                    <h5><i class="fas fa-tape glow"></i> Finish:</h5>                            
                                    <h6>{{ review.finish }}</h6>
                                </div>
                            </div>                  
                            <div class="row text-center border border-primary">
                                <div class="col-4 border border-primary">
                                    <h5>Rating:</h5>                            
                                    <h6>
                                    {% if review.rating == 1 %}
                                        <i class="fas fa-star goodstar"></i>
                                        <i class="far fa-star badstar"></i>
                                        <i class="far fa-star badstar"></i>
                                        <i class="far fa-star badstar"></i>
                                        <i class="far fa-star badstar"></i>
                                    {% endif %}
                                    {% if review.rating == 2 %}
                                        <i class="fas fa-star goodstar"></i>
                                        <i class="fas fa-star goodstar"></i>
                                        <i class="far fa-star badstar"></i>
                                        <i class="far fa-star badstar"></i>
                                        <i class="far fa-star badstar"></i>
                                    {% endif %}
                                    {% if review.rating == 3 %}
                                        <i class="fas fa-star goodstar"></i>
                                        <i class="fas fa-star goodstar"></i>
                                        <i class="fas fa-star goodstar"></i>
                                        <i class="far fa-star badstar"></i>
                                        <i class="far fa-star badstar"></i>
                                    {% endif %}
                                    {% if review.rating == 4 %}
                                        <i class="fas fa-star goodstar"></i>
                                        <i class="fas fa-star goodstar"></i>
                                        <i class="fas fa-star goodstar"></i>
                                        <i class="fas fa-star goodstar"></i>
                                        <i class="far fa-star badstar"></i>
                                    {% endif %}
                                    {% if review.rating == 5 %}
                                        <i class="fas fa-star goodstar"></i>
                                        <i class="fas fa-star goodstar"></i>
                                        <i class="fas fa-star goodstar"></i>
                                        <i class="fas fa-star goodstar"></i>
                                        <i class="fas fa-star goodstar"></i>
                                    {% endif %}
                                    </h6>
                                </div>
                                <div class="col-4 border border-primary">
                                    <h5><i class="fas fa-thermometer-three-quarters thermometer"></i> Temp:</h5>                            
                                    <h5>{{ review.temperature }}c</h5>
                                </div>
                                <div class="col-4 border border-primary">
                                    <h5><i class="fas fa-money-bill-wave money"></i> Cost:</h5>                            
                                    <h6>
                                    {% if review.cost == 1 %}
                                        <i class="fas fa-dollar-sign" style="color: green;"></i>
                                        <i class="fas fa-dollar-sign" style="color: grey;"></i>
                                        <i class="fas fa-dollar-sign" style="color: grey;"></i>
                                    {% endif %}
                                    {% if review.cost == 2 %}
                                        <i class="fas fa-dollar-sign" style="color: green;"></i>
                                        <i class="fas fa-dollar-sign" style="color: green;"></i>
                                        <i class="fas fa-dollar-sign" style="color: grey;"></i>
                                    {% endif %}
                                    {% if review.cost == 3 %}
                                        <i class="fas fa-dollar-sign" style="color: green;"></i>
                                        <i class="fas fa-dollar-sign" style="color: green;"></i>
                                        <i class="fas fa-dollar-sign" style="color: green;"></i>
                                    {% endif %}
                                    </h6>
                                </div>
                            </div>
                            <p class="card-text mt-3"><strong>Review: </strong>{{ review.review_text }}</p>
                            <p class="card-text mt-auto text-end">                                                       
                                <small class="text-muted">
                                    {% if review.likes == 1 %}
                                        {{ review.likes }} like
                                    {% else %}
                                        {{ review.likes }} likes
                                    {% endif %}
                                </small>
                                <a href="#"><i class="fas fa-thumbs-up"></i></a> 
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

