.navbar {
    font-size: 150%;
}

.form-icon {
    width: 4vh
}

.flashes {
    line-height: 2;
}

.material-card {
    height: 12rem; 
    object-fit: cover;
}

.review-image {
    height: 33vh;
    object-fit: contain;
}

/* Media Queries */

@media (max-width: 767.98px) {

    .form-icon {
    width: 6vh
    }

 }