/***** General Styles *****/

.main-container {
    background-image: url('../images/graph_tile.jpg');
    background-repeat: repeat;
}

.navbar {
    font-size: 150%;
}

.form-icon {
    width: 4vh
}

.flashes {
    line-height: 2;
}

.material-card {
    height: 12rem; 
    object-fit: cover;
}

/***** Review Card Styles *****/

.review-image {
    height: 33vh;
    object-fit: contain;
}

.review-card {
    min-height: 66vh;
}

.fa-thumbs-up{
    font-size: 200%;
    color: #0d6efd;
}

.rainbow-gradient {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.glow {  
  font-size: 75%;
  color: black;
  text-shadow: 0 0 1px #fff, 0 0 1px #ff4da6, 0 0 2px #ff4da6, 0 0 3px #ff4da6, 0 0 4px #ff4da6, 0 0 5px #ff4da6, 0 0 6px #ff4da6;
}

.goodstar {
    color: gold;
}

.badstar {
    color: grey;
}

.thermometer {
    color: red;
}

.money {
    color: green;
}
/***** Media Queries *****/

@media (max-width: 767.98px) {

    .form-icon {
    width: 6vh
    }

 }

 /***** Animations *****/

.fa-thumbs-up:hover{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
  }

