
{% extends "base.html" %}
{% block content %}    
    <div class="row justify-content-center">
        <div class="card mt-5 shadow" style="width: 18rem;">
            <img src="https://raymanpc.com/wiki/script-en/images/1/15/Admin.png" class="card-img-top" alt="admin card photo">        
            <div class="card-body">
                <h5 class="card-title">Hi there, Admin.</h5>
                <p class="card-text">
                    There are currently no tools for admins, this is simply here as a place to put potential future tools. 
                    However, accessing this part of the site should at least give you a slight feeling of exclusivity! Hurray!
                </p>            
            </div>
        </div>
    </div>
    
{% endblock %}