{% extends "base.html" %}
{% block content %}

    <section>
        <!-- Error Messages-->

        <!-- Username Input Errors -->
        {% if form.name.errors %}            
            <div class="container">
                <div class="row justify-content-center">
                    <div class="alert alert-warning alert-dismissible fade show col-6 mt-5 shadow-lg p-3 mb-5 rounded"
                        role="alert">
                        {% for error in form.name.errors %}
                        <strong>{{ error }}</strong><br>
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>            
        {% endif %}

        <!-- Email Input Errors -->
        {% if form.email.errors %}            
            <div class="container">
                <div class="row justify-content-center">
                    <div class="alert alert-warning alert-dismissible fade show col-6 mt-5 shadow-lg p-3 mb-5 rounded"
                        role="alert">
                        {% for error in form.email.errors %}
                        <strong>{{ error }}</strong>
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>            
        {% endif %}

        <!-- Confirm Password Errors -->
        {% if form.password.errors %}            
            <div class="container">
                <div class="row justify-content-center">
                    <div class="alert alert-warning alert-dismissible fade show col-6 mt-5 shadow-lg p-3 mb-5 rounded"
                        role="alert">
                        {% for error in form.password.errors %}
                        <strong>{{ error }}</strong>
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>            
        {% endif %}
    </section>

<div class="container">

    <h2 class="text-center mt-5">Register</h2>

    <div class="row justify-content-center">
        <form class="card mt-5 col-10 col-md-8 text-white bg-primary shadow p-3 mb-5 rounded" method="POST" action="{{ url_for('register') }}">
            {{ form.hidden_tag() }}
            <div class="card-body">
                <!-- Username -->
                <div class="input-group flex-nowrap">
                    <span class="input-group-text form-icon"><i class="fas fa-user-plus"></i></span>
                    {{ form.name(class_='form-control', placeholder='Username') }}
                </div>
                <!-- Email -->
                <div class="input-group mb-3 mt-3">
                    <span class="input-group-text form-icon"><i
                            class="fas fa-envelope"></i></span>
                    {{ form.email(class_='form-control', placeholder="Email") }}
                </div>
                <!-- Password -->
                <div class="input-group mb-3">
                    <span class="input-group-text form-icon"><i class="fas fa-lock"></i></span>
                    {{ form.password(class_='form-control', placeholder="Password") }}
                </div>
                <!-- Confirm Password -->
                <div class="input-group mb-3">
                    <span class="input-group-text form-icon"><i class="fas fa-lock"></i></span>
                    {{ form.confirmPassword(class_='form-control', placeholder="Confirm Password") }}
                </div>
                <!-- Submit button -->
                <div class="text-center">
                    <div>{{ form.submit(class_='btn btn-success') }} <i class="fas fa-sign-in-alt"></i></div>
                </div>
            </div>
        </form>
    </div>
</div>

    <!--<h2>FORM WTF</h2>

    <div class="form-wrapper">
        <h2 class="title">Register</h2>

        <form method="POST" action="{{ url_for('register') }}">

            <fieldset class="form-field">
                
            </fieldset>

            <fieldset class="form-field">
                
            </fieldset>

            <fieldset class="form-field">
                
            </fieldset>

            <fieldset class="form-field">
                {{ form.confirmPassword }}
            </fieldset>

            {{ form.submit }}

        </form>
    </div>-->

    {% endblock %}